html{
    overflow-y: hidden;
}

body{
    background-color: rgb(240, 242, 245);
}

.saimo-table-toolbar-float{
    margin-top:10px;
    height:70px;
    padding-top:16px;
    background-color: #fff;
    // z-index: inherit !important;
}

.saimo-form-drawer{
    .toolbar-title{
        text-align: left;
        padding-top:26px;
        padding-left: 2px;
        padding-bottom: 6px;
        width: 95%;
    }

    .v-navigation-drawer__content{
        padding-left: 3px;
        padding-right: 3px;
    }

    .saimo-form-btn-container{
        margin-top: 22px;
        text-align: left;
    }

}

.saimo-form-col{
    padding: 0px;
}


::-webkit-scrollbar {
    // background-color: rgba(101, 100, 100, 0.4);
    // border-radius: 2px;
    width: 8px; //y轴滚动条宽度
    height:8px; //x轴滚动条高度
}
  
::-webkit-scrollbar-thumb {
    border-radius: 2px; //滚动条的圆角
    background: rgba(73, 73, 73, 0.5); //滚动条的背景颜色
}
  
::-webkit-scrollbar-track {
    border-radius: 0px; //滚动条的背景区域的圆角
    background: #fff; //滚动条的背景颜色
}